# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

--- General ---
Ignore the .env file to keep secrets out of the repository
.env

--- Python / Backend ---
Ignore the virtual environment folder
venv/
pycache/
*.pyc

--- Node / Frontend ---
Ignore the massive node_modules folder
node_modules/

Ignore build output
dist/

Ignore Vite cache
.vite/

--- OS / Editor Specific ---
macOS
.DS_Store

Windows
Thumbs.db

VS Code
.vscode/
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
